VITE_SUPABASE_URL=https://qazvybgmgvtepjqlcqpq.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_u5aeWdyycLqJMwGpOJshEg_EQyqVIl1
SUPABASE_SERVICE_ROLE_KEY=sb_publishable_u5aeWdyycLqJMwGpOJshEg_EQyqVIl1
VITE_GEMINI_API_KEY=
GEMINI_API_KEY=
PORT=3000
NODE_ENV=development
DISABLE_HMR=true
APP_URL=https://ais-dev-lwdonyvtfwagbapaateqer-99455735805.europe-west3.run.app
SHARED_APP_URL=
