VITE_SUPABASE_URL=https://eaqbwuquvggclofpvrpd.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_Yh6-r3XL9FU_-K607m1wfA_vJf22eB3
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVhcWJ3dXF1dmdnY2xvZnB2cnBkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODQzMjU0OSwiZXhwIjoyMDk0MDA4NTQ5fQ.Z1FH83TYzd-s4tGJx2s9eYqWZ4fDX6YIjn4i1EDbmjw