VITE_SUPABASE_URL=https://eaqbwuquvggclofpvrpd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVhcWJ3dXF1dmdnY2xvZnB2cnBkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg0MzI1NDksImV4cCI6MjA5NDAwODU0OX0.57cQkVGRgcu-t2a2D8a3-zMGyF-o_2AfVGrxj2tUVXI
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVhcWJ3dXF1dmdnY2xvZnB2cnBkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODQzMjU0OSwiZXhwIjoyMDk0MDA4NTQ5fQ.Z1FH83TYzd-s4tGJx2s9eYqWZ4fDX6YIjn4i1EDbmjw